<form class="select-category row ml-0 mt-3" action="/">
  <div class="form-group">
    <select class="form-control" id="category" name="category" onchange="submit()">
      <option value="">全部支出</option>
      {{#each categories}}
      <option {{#if (isEqual ../category this.name)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
</form>

<div class="total-amount row mx-auto" style="max-width: 700px;">
  <span class="title" style="font-size: 5vmin;">支出總額：</span>
  <span class="amount text-info ml-3 " style="font-size: 5vmin;"> $ {{totalAmount}}</span>
</div>

<div class="record-list row  mx-auto">
  {{#each records}}
  <ul class="list-group col-9 mb-2">
    <li class="list-group-item d-flex justify-content-between align-item-center bg-light">
      <div class="d-flex justify-content-between align-item-center">
        <i class="{{this.icon}} align-self-center text-info" style="font-size: 3vmax; width: 10vmin;"></i>
        <div>
          <p class="mb-1"
            style="font-weight: bold; max-width: 25vw; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
            {{this.name}}</p>
          <p class="mb-0" style="white-space: nowrap;">{{this.date}}</p>
        </div>
      </div>
      <span class="align-self-center"
        style="font-size: 2vmax; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">$
        {{this.amount}}</span>
    </li>
  </ul>
  <div class="col-3 d-flex justify-content-around align-item-center">
    <a href="./records/{{this._id}}/edit" class="align-self-center text-primary">
      <i class="fas fa-edit" style="font-size: 3vmax;"></i>
    </a>
    <form action="./records/{{this._id}}?_method=DELETE" method="POST" class="align-self-center"
      style="display: inline;">
      <button type="submit" class="btn btn-link text-danger">
        <i class="fas fa-trash-alt" style="font-size: 3vmax;"></i>
      </button>
    </form>
  </div>
  {{/each}}
</div>

<div class="add-new-record row col my-5">
  <a href="./records/new" class="btn btn-info btn-block">新增支出</a>
</div>